
PROJECT_NAME="string"
API_V1_STR="string"

# MongoDB
MONGODB_USERNAME="string"
MONGODB_PASSWORD="string"
MONGODB_URL="string"
DATABASE_NAME="string"

# Security (Generate a strong key in production)
# openssl rand -hex 32
SECRET_KEY="string"
ACCESS_TOKEN_EXPIRE_MINUTES="number"

